@import "../styles/variables.scss";

.landing-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 56px;
}

.landing-detail-box {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 14px;
  &__left {
    margin-right: 20px;
  }
}

.start-link {
  text-decoration: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 16px 16px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(25, 58, 72, 0.139) 0%, rgba(25,58,72,1) 50%);
}
