@import "../../styles/variables.scss";

.--headline1 {
  font-size: 32px;
}

.--headline2 {
  font-size: 24px;
}

.--headline3 {
  font-size: 22px;
}

.--headline4 {
  font-size: 20px;
}

.--headline5 {
  font-size: 18px;
}

.--small {
  font-size: 16px;
}

.--smaller {
  font-size: 14px;
}

.--subtle {
  color: $color-primary-300;
}

.--ultra-subtle {
  color: $color-primary-75;
}

.--text {
  margin-top: 0;
  margin-bottom: 0;
}
