* {
  overscroll-behavior: none;
}

.--flex {
  display: flex;
}

.--justify-center {
  justify-content: center;
}

.--align-center {
  align-items: center;
}

.--bold {
  font-weight: bold;
}

.--uppercase {
  text-transform: uppercase;
}

.--capitalize {
  text-transform: capitalize;
}

.--lowercase {
  text-transform: lowercase;
}

.--align-center {
  text-align: center;
}

.--align-right {
  text-align: right;
}
