@import './reset.scss';
@import './variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $text-color;
  background-color: $color-primary-150;
  line-height: 24px;
  position: relative;
  height: 100vh;
  min-width: 360px;
  min-height: 640px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: $app-sides-padding;
  padding-right: $app-sides-padding;
  padding-top: 28px;
  height: calc(100% - $navbar-height);
  max-width: $max-content-width;
  margin: 0 auto;

  @media (min-width: $bk-desktop) {
    padding-top: 64px;
    height: calc(100% - $navbar-height-desktop);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.--flex {
  display: flex;
}

.--justify-center {
  justify-content: center;
}

.--align-center {
  align-items: center;
}

.--bold {
  font-weight: bold;
}

.--uppercase {
  text-transform: uppercase;
}

.--capitalize {
  text-transform: capitalize;
}

.--lowercase {
  text-transform: lowercase;
}

.--align-center {
  text-align: center;
}

.--align-right {
  text-align: right;
}

p {
  max-width: 780px;
}

.button-on-bottom {
  position: fixed;
  width: calc(100% - $app-sides-padding * 2);
  bottom: 16px;
  left: auto;
  right: auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(25, 58, 72, 0.139) 0%,
    rgba(25, 58, 72, 1) 50%
  );
  z-index: 3;
  max-width: calc($max-content-width - $app-sides-padding * 2);
}
